/* MAIN */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: lightcyan;
}

body h1 {
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
}


/* GAME OPTIONS */
#game-options {
    display: flex;
    flex-direction: column;
    width: min(50%, 500px);
    border: 1px solid black;
    padding: 2em;
    border-radius: 5px;
    background-color: lightgrey;
    margin-bottom: 50px;
}

.current-selected-board-size {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    font-style: italic;
    cursor: default;
}

#game-options label {
    padding-top: 1em;
}

#current-rows, #current-columns, #current-mines, #current-timer {
    border-radius: 5px;
    padding: 0.2em;
    color: darkslategrey;
}

.preset-settings {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 1em;
}

#game-options h2 {
    text-align: center;
    padding: 0.5em 0;
}

.preset-difficulty {
    cursor: pointer;
    display: inline;
    border: 2px solid black;
    padding: 0.2em;
    border-radius: 5px;
    font-weight: bold;
}

#beginner-preset {
    background-color: rgba(0, 150, 0, 0.15);
}
#beginner-preset:hover {
    background-color: rgba(0, 150, 0, 0.3);
}

#intermediate-preset {
    background-color: rgba(255, 230, 0, 0.15);
}
#intermediate-preset:hover {
    background-color: rgba(255, 230, 0, 0.3);
}

#expert-preset {
    background-color: rgba(255, 115, 0, 0.15);
}
#expert-preset:hover {
    background-color: rgba(255, 115, 0, 0.3);
}

#crazy-preset {
    background-color: rgba(255, 0, 0, 0.15);
}
#crazy-preset:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

.preset-difficulty:hover {
    background-color: slategrey;
}

#start-game {
    margin-top: 1em;
    padding: 0.5em;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    border: 5px solid black;
    border-radius: 5px;
}

#start-game:hover {
    background-color: white;
}



/* GAME BOARD */
#game-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

#board {
    border: 2px solid darkslategrey;
}

#minesweeper-board {
    display: grid;
    width: 0%;
    align-items: stretch;
}

.tile {
    background-color: cadetblue;
    text-align: center;
    cursor: pointer;
    border: 1px solid darkslategrey;
    height: 30px;
    width: 30px;
}

.tile .surrounding-mines {
    visibility: hidden;
}

.tile-checked {
    background-color: green;
    color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.flagged {
    background: url("./images/flag.svg");
    background-color: cadetblue;
}

.surrounding-mines {
    pointer-events: none;
}

.tile-checked .surrounding-mines {
    visibility: visible;
}

.mine-checked {
    background: url("./images/bomb.svg");
    background-color: cadetblue;
}

#game-counter {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 0.5em;
}

.instructions {
    color: darkslategrey;
    padding-bottom: 0.5em;
}

#remaining-time, #remaining-mines {
    font-weight: normal;
}

.low-time {
    color: orange;
}

.critical-low-time {
    color: red;
}


/* GAME STATS */
#game-stats {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1em;
}

#game-result {
    padding: 0 1em;
}

#game-stats p {
    font-style: italic;
    cursor: default;
}

#new-game {
    text-align: center;
    padding: 0.2em;
    cursor: pointer;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}


@media only screen and (max-width: 780px) {

    #game-options {
        width: 90%;
    }

    .preset-settings {
        flex-direction: column;
        text-align: center;
    }
}
